[Unit]
Description=Keeps a tunnel to 'remote.example.com' open
After=network-online.target
Wants=network-online.target

[Service]
User=nharrington
# -p [PORT]
# -l [user]
# -M 0 --> no monitoring
# -N Just open the connection and do nothing (not interactive)
# REMOTE_PORT -> The remote port on the server for sshd
# CUSTOM_REMOTE_PORT -> The port for use on the server to tunnel back to
# this system.
#
ExecStart=/usr/bin/autossh -M 0 -N -q \
-o "ServerAliveInterval 60"  -o "ServerAliveCountMax 3" \
-p 6787 \
-l nharrington waspho.com \
-R 9001:localhost:22 \
-i /home/nharrington/.ssh/cookbook-droplet_id_rsa

[Install]
WantedBy=multi-user.target

