[Desktop Entry]
Type=Application
Exec=/home/nharrington/projects/keynav/keynav
Hidden=false
Name[en_US]=keynav
Name=keynav
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=0
